{% extends 'DBReport_/DBReports.html' %} {% block DBReport_1 %} {% autoescape off %} {% if result_notFound %}
<div class="col-10 offset-1 text-center">
	<i>{{result_notFound}}</i>
</div>
{% else %}
<div class="col-12 offset-0 text-center">
	<table class="table table-striped table-bordered table-sm text-center caption-top">
		<caption class="text-center text-small">
				<div class="d-flex justify-content-between align-items-center">
					<span
					>&#128203;<b>Report №1:</b><br />
					Displaying all customers of a given seller</span
					>
					<span class="text-end text-small">Search result for seller: <b>{{search_name}} {{search_surname}}</b></span>
				</div>
		</caption>
		<thead>
			<tr class="align-middle">
				<th scope="col">#</th>
				<th scope="col">Seller</th>
				<th scope="col">Seller's Position</th>
				<th scope="col">Customers</th>
				<th scope="col">Customer Info</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			{% for i in result %}
			<tr class="align-middle">
				<th scope="row">{{forloop.counter}}</th>
				<td>{{i.seller.name}} {{i.seller.surname}}</td>
				<td>{{i.seller.position}}</td>
				<td>{{i.customer.name}} {{i.customer.surname}}</td>
				<td>
					{{i.customer.phone}}<br />
					{{i.customer.email}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %} {% endautoescape %} {% endblock %}
