{% extends 'categories.html' %} {% block content %}
{% autoescape off %}
{% if sales %}

<div class="row">
	<div class="offset-1 col-10 table-responsive">
		<table class="table table-striped table-bordered table-sm text-center caption-top">
			<caption class="text-center">
				<div class="d-flex justify-content-between">
					<span>Sales data</span>
					<span><a href="{% url 'addSale' %}" class="nav-link text-center">&#43; Add sale</a></span>
				</div>
			</caption>
			<thead>
				<tr class="align-middle">
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Item name</th>
					<th scope="col">Price, $</th>
					<th scope="col">Customer Info</th>
					<th scope="col">Seller Info</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for sale in sales %}

				<tr class="align-middle">
					<th scope="row">{{forloop.counter}}</th>
					<td>{{sale.dateOfSale|date:"d.m.Y"}}</td>
					<td>{{sale.item.name}}</td>
					<td>{{sale.item.price}}</td>
					<td>{{sale.customer.firstName}} {{sale.customer.lastName}} <br>&#128222; : {{sale.customer.phone}}</td>
					<td>{{sale.seller.firstName}} {{sale.seller.lastName}}, {{sale.seller.position}} </td>
					<td><a href="{% url 'editSale' sale.id %}" class="nav-link text-center">&#9998;</a></td>
					<td><a href="{% url 'deleteSale' sale.id %}" class="nav-link text-center">&#10008;</a></td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="offset-2 col-8">
		<a href="{% url 'addSale' %}" class="nav-link text-center">Add sale</a>
	</div>
</div>
{% elif notFound %}

<div class="d-flex flex-column align-items-center">
	<h5 class="text-center logoString_h5">{{notFound}}</h5>
	<span>&#9660;</span>
	<a href="{% url 'addSale' %}" class="nav-link text-center">Add sale</a>
</div>
{% endif %}
{% endautoescape %}
{% endblock %}